{% extends 'ZantolovAppBundle::baseAdmin.html.twig' %}

{% block body -%}
    <div class="col-md-12">
        {% block actionPanel %}
            <ul class="list-inline">
                <li>
                    <a onclick="$('#zantolov_appbundle_user_submit').click();" href="javascript:void(0)"
                       class="btn btn-success btn-sm">
                        <i class="fa fa-check"></i> Update
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-sm" href="{{ path('app.users') }}">
                        <i class="fa fa-arrow-left"></i> Back to the list
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        {% endblock %}
        {{ form(edit_form) }}
    </div>
{% endblock %}
