{% extends 'ZantolovAppBundle::baseAdmin.html.twig' %}

{% block body -%}
    <div class="col-md-12">

        <ul class="list-inline">
            <li>
                <a onclick="$('#zantolov_appbundle_user_submit').click();" href="javascript:void(0)"
                   class="btn btn-success btn-sm">
                    <i class="fa fa-check"></i> Create
                </a>
            </li>
            <li>
                <a class="btn btn-primary btn-sm" href="{{ path('app.users') }}">
                    <i class="fa fa-arrow-left"></i> Back to the list
                </a>
            </li>
        </ul>
        {{ form(form) }}
    </div>
{% endblock %}
