<div class="dataTableContainer">
    <table class="table dataTable table-bordered table-hover">
        <thead>
        {% block thead %}
            <tr>

            </tr>
        {% endblock thead %}
        </thead>
        <tbody>
        {% for item in items %}
            {% block item %}
                <tr>
                </tr>
            {% endblock item %}
        {% endfor %}
        </tbody>
    </table>
</div>