{% trans_default_domain "ZantolovApp" %}
<ul class="list-inline">
    {% block actions %}
        <li>
            <a class="btn btn-primary btn-xs"
               href="{{ path(crudId ~ '.show', { 'id': item.id }) }}">
                <i class="fa fa-search"></i>
                {% if showLabels is defined and showLabels == true %}
                    {{ 'crud.show'|trans }}
                {% endif %}
            </a>
        </li>
        <li>
            <a class="btn btn-primary btn-xs"
               href="{{ path(crudId ~ '.edit', { 'id': item.id }) }}">
                <i class="fa fa-edit"></i>
                {% if showLabels is defined and showLabels == true %}
                    {{ 'crud.edit'|trans }}
                {% endif %}
            </a>
        </li>
    {% endblock actions %}
</ul>
