{% extends "ZantolovAppBundle::Layout/FOSUserBundle/fos-user-bundle.html.twig" %}
{% block fos_user_content %}
    <div class="row-centered">
        <div class="col-md-5 col-centered text-center">
            <h1>{{ 'resetting.title'|trans({}, 'FOSUserBundle') }}</h1>
            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}