{% if noUlElement is not defined or noUlElement == false %}
<ul class="list-unstyled">
    {% endif %}

    <li>
        <a class="btn btn-primary btn-sm" href="{{ path(entityPrefix ~ 'new') }}">
            <i class="fa fa-plus"></i> {% trans %}New{% endtrans %}
        </a>
    </li>

    {% if noUlElement is not defined or noUlElement == false %}
</ul>
{% endif %}
