{% extends "ZantolovAppBundle::Layout/fos-user-bundle-layout.html.twig" %}

{% block title %}MyBeeLine Register{% endblock %}

{% block fos_user_content %}
    <p class="text-center">{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
{% endblock fos_user_content %}
