{% extends "@CodslyMyBeeLine/Layout/site-layout.html.twig" %}

{% block content %}
    <section id="error" class="container text-center">
        <h1>Error occured</h1>
        <p>We are working hard to fix it. Feel free to contact us</p>
    </section>
{% endblock %}