{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success text-center">
        {{ message|trans({}, translationBundle | default('ZantolovAppBudnle')) }}
    </div>
{% endfor %}

{% for message in app.session.flashBag.get('danger') %}
    <div class="alert alert-danger text-center">
        {{ message|trans({}, translationBundle | default('ZantolovAppBudnle')) }}
    </div>
{% endfor %}

{% for message in app.session.flashBag.get('info') %}
    <div class="alert alert-info text-center">
        {{ message|trans({}, translationBundle | default('ZantolovAppBudnle')) }}
    </div>
{% endfor %}


{% for message in app.session.flashBag.get('warning') %}
    <div class="alert alert-warning text-center">
        {{ message|trans({}, translationBundle | default('ZantolovAppBudnle')) }}
    </div>
{% endfor %}