{% extends '::app.html.twig' %}

    {% block body -%}
        <div class="col-md-12">

            {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
            routePrefix: crudId,
            ignoreLinks: ['new']
            } %}{% endembed %}

            <div class="crudForm newForm">
                {% block form %}
                    {{ form(form) }}
                {% endblock %}
            </div>

        </div>
    {% endblock %}
