<a title="Move Down"
   data-submit-url="{{ downUrl }}"
   data-callback="reload"
   data-method="GET"
   class="btn btn-default btn-xs" href="javascript:void(0);">
    <i class="fa fa-arrow-down"></i>
</a>
{{ position }}
<a title="Move Up"
   data-submit-url="{{ upUrl }}"
   data-callback="reload"
   data-method="GET"
   class="btn btn-default btn-xs" href="javascript:void(0);">
    <i class="fa fa-arrow-up"></i>
</a>